body {
  width: 100%;
  height: 700px;
  margin: 0px;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-wrap: nowrap;
}

p {
  width: 100%;
  height: 100%;
  justify-self: center;
  font-size: 900%;
}

.color {
  background-color: #1c493e, #b105a2, #13b9036b;
  width: 100%;
  margin: 0px auto;
}
