body {
  /* width: 100%;
  height: 700px; */
  margin: 8%;
  align-items: center;
  display: flex;
  flex-flow: column;
  font-family: cursive;
  justify-content: center;
}
/* 
.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-wrap: nowrap;
} */

p {
  justify-self: center;
  font-size: 100px;
  color: white;
}
